.haos-navbar {
  background-color: #80848c;
  border-bottom: 2px solid #161d3a;
  box-shadow: 0 4px 4px -2px #000000;
}

.haos-toolbar {
  background-color: #ffffff;
}

@media (min-width: 766px) {
  .border-right {
    border-right: 1px solid #262626;
    padding-right: 10px;
  }
}

@media (max-width: 765.98px) {
  .border-right {
    border-right: none;
    border-bottom: 1px solid #262626;
    padding-right: 0;
  }
}

.sticky-navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000; /* Значення z-index може бути будь-яким, головне, щоб воно було вищим, ніж у інших елементів */
  background-color: rgba(255, 255, 255, 0); /* Прозорий фон */
}

.sticky-navbar .nav-link {
  color: #000; /* Колір тексту */
}

